:root {
  --primary_color: #18236c;
  --secundry_color: #44cbe0;
}

body {
  color: #333333;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: var(--secundry_color);
}

img {
  max-width: 100%;
}

.btn {
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
  min-width: 160px;
  padding: 0.6rem 1rem;
  border-radius: 0.35rem;
  letter-spacing: 0.5px;
}
.btn:hover {
  color: #ffffff;
}
.btn.btn_primary {
  background: var(--primary_color);
  color: #ffffff;
}
.btn.btn_secundary {
  background: var(--secundry_color);
}
.btn.btn_border {
  border: 2px solid #ffffff;
}
.btn.btn_border:hover {
  background: #ffffff;
  color: #333;
}

.ttls_minimum {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3.5px;
  font-size: 0.9rem;
}
.ttls_minimum span {
  padding: 0 1rem;
  position: relative;
}
.ttls_minimum span::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 1px;
  width: 35px;
  background: #333333;
  transform: translateY(-50%);
}
.ttls_minimum span::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 1px;
  width: 35px;
  background: #333333;
  transform: translateY(-50%);
}
.ttls_minimum.in_head {
  margin-left: 2.5rem;
}
.ttls_minimum.in_head span::before {
  display: none;
}
.ttls_minimum.in_head span::after {
  background: #ffffff;
}

.ttl_home {
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
}

.ttl_primary {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.15;
}

.my_paragraph {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.box_shaddow {
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}

.wrapper_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}
.wrapper_header .drawer_top_hd {
  background: #12183b;
  padding: 0.4rem 0;
}
.wrapper_header .drawer_top_hd .sec_top_hd {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.wrapper_header .drawer_top_hd .sec_top_hd .cont_data {
  display: flex;
}
.wrapper_header .drawer_top_hd .sec_top_hd .cont_data a {
  line-height: 0;
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}
.wrapper_header .drawer_top_hd .sec_top_hd .cont_linkeos a {
  margin-right: 0.75rem;
}
.wrapper_header .drawer_bottom_hd {
  background: #ffffff;
  padding: 0.5rem 0;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_brand {
  min-width: 120px;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_brand a img {
  max-height: 70px;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus {
  width: 100%;
  text-align: right;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a {
  color: #333333;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 0.25rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  line-height: 1.3;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a.sec_active, .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a:hover {
  border-bottom: 5px solid var(--secundry_color);
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus .maxw {
  max-width: 110px;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu {
  display: none;
  margin-left: 0.75rem;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu:hover {
  color: rebeccapurple;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: var(--primary_color);
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.15);
  transition: all 0.35s ease;
  transform-origin: 0px 100%;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu span:nth-child(2) {
  top: calc(50% - 2px);
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu span:nth-child(3) {
  bottom: 0;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu.visible_menu {
  right: 0;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu.visible_menu span:nth-child(1) {
  transform: rotate(45deg) translate(-4px, 1px);
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu.visible_menu span:nth-child(2) {
  opacity: 0;
}
.wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu.visible_menu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 1px);
}

.wrapper_footer {
  color: #ffffff;
  font-size: 0.9rem;
}
.wrapper_footer .foot_top {
  background: #333333;
  padding: 1.5rem 0;
}
.wrapper_footer .foot_top .foot_brand img {
  max-width: 125px;
  filter: brightness(0) invert(1);
}
.wrapper_footer .foot_top .foot_data {
  text-align: right;
}
.wrapper_footer .foot_low {
  background: #1c1c1c;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.25rem;
}

.wrapper_home {
  background: url(../imgs/bg_home.jpg) no-repeat center bottom;
  background-size: cover;
  min-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.wrapper_home::after {
  content: "";
  background: #151e5f;
  background: linear-gradient(-90deg, rgba(21, 30, 95, 0.9) 0%, rgba(26, 43, 114, 0.75) 54%, rgba(68, 203, 224, 0.75) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.wrapper_home .drawer_home {
  position: relative;
  z-index: 1;
}
.wrapper_home .drawer_home .sec_content_home {
  color: #ffffff;
}
.wrapper_home .drawer_home .sec_content_home .ttls_minimum {
  margin-bottom: 6rem;
}
.wrapper_home .drawer_home .sec_content_home .ttls_minimum span {
  padding: 0 1rem;
  position: relative;
}
.wrapper_home .drawer_home .sec_content_home .ttls_minimum span::before, .wrapper_home .drawer_home .sec_content_home .ttls_minimum span::after {
  background: #ffffff;
}
.wrapper_home .drawer_home .sec_content_home .ttl_primary {
  font-weight: 600;
}

.wrapper_data {
  margin-top: -40px;
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
  padding: 0 0.5rem;
}
.wrapper_data .drawer_data {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  background: #ffffff;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  gap: 20px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.25);
}
.wrapper_data .drawer_data .box_item_data {
  font-size: 0.85rem;
  width: 100%;
}
.wrapper_data .drawer_data .box_item_data .item_data {
  display: flex;
  align-items: center;
  line-height: 1.3;
}
.wrapper_data .drawer_data .box_item_data .item_data a {
  color: #333333;
}
.wrapper_data .drawer_data .box_item_data .item_data a:hover {
  color: var(--secundry_color);
}
.wrapper_data .drawer_data .box_item_data .item_data .ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  min-width: 45px;
  height: 45px;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid #333333;
  margin-right: 0.75rem;
}

.wrapper_do_we_do .box_info_we_do {
  max-width: 525px;
  margin-top: 60px;
}
.wrapper_do_we_do .box_info_we_do .ttls_minimum {
  margin-bottom: 3rem;
  padding-left: 35px;
}
.wrapper_do_we_do .box_info_we_do .ttls_minimum span {
  padding: 0 1rem;
  position: relative;
}
.wrapper_do_we_do .box_info_we_do .ttls_minimum span::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 1px;
  width: 35px;
  background: #333333;
  transform: translateY(-50%);
}
.wrapper_do_we_do .box_info_we_do .ttls_minimum span::before {
  display: none;
}
.wrapper_do_we_do .box_info_we_do .ttl_primary {
  margin-bottom: 3rem;
}
.wrapper_do_we_do .box_info_we_do .my_paragraph {
  margin-bottom: 2.5rem;
}

.wrapper_why .content_why {
  text-align: center;
  max-width: 990px;
  margin: 8rem auto 4rem;
}
.wrapper_why .content_why .my_paragraph {
  max-width: 700px;
  margin: 0 auto;
}
.wrapper_why .content_why .my_paragraph span {
  font-weight: 600;
}
.wrapper_why .articles_why {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.wrapper_why .articles_why .item_articles_why {
  text-align: center;
  width: 28%;
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  min-height: 250px;
}
.wrapper_why .articles_why .item_articles_why img {
  height: 90px;
}
.wrapper_why .articles_why .item_articles_why .info_articles_why {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
}

.wrapper_experience {
  position: relative;
  color: #ffffff;
  padding-top: 200px;
}
.wrapper_experience .imgs_dots {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  max-width: 220px;
}
.wrapper_experience .drawer_experience {
  background: #2d3881;
  background: linear-gradient(180deg, #2d3881 0%, #0e1750 100%);
  padding-bottom: 5rem;
}
.wrapper_experience .drawer_experience .container-lg .box_img_experience {
  margin-top: -125px;
}
.wrapper_experience .drawer_experience .container-lg .box_img_experience img {
  max-width: 500px;
}
.wrapper_experience .drawer_experience .container-lg .box_experience_info {
  padding-top: 4rem;
}
.wrapper_experience .drawer_experience .container-lg .box_experience_info h4 {
  line-height: 0;
  display: flex;
  align-items: center;
  font-size: 1.45rem;
}
.wrapper_experience .drawer_experience .container-lg .box_experience_info h4 span {
  padding-right: 1rem;
}

.wrapper_info_access {
  text-align: center;
  padding: 5rem 0;
}

.wrapper_head_page {
  background: url(../imgs/bg_nosotros.jpg) no-repeat center bottom;
  background-size: cover;
  color: #ffffff;
  padding-top: 175px;
  position: relative;
}
.wrapper_head_page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #449ee0;
  background: linear-gradient(338deg, rgba(68, 158, 224, 0.75) 0%, rgba(21, 30, 95, 0.9) 54%);
}
.wrapper_head_page.page_especial {
  padding-bottom: 5rem;
}
.wrapper_head_page.page_especial .dots {
  position: absolute;
  top: 88%;
  right: 0;
  max-height: 250px;
}
.wrapper_head_page .container-lg {
  position: relative;
  z-index: 1;
}
.wrapper_head_page .container-lg .sec_head_page_info {
  margin-bottom: 3rem;
}
.wrapper_head_page .container-lg .sec_head_page_info .my_paragraph {
  max-width: 475px;
}
.wrapper_head_page .container-lg .sec_head_page_img {
  position: relative;
  bottom: -100px;
  z-index: 1;
}

.wrapper_our_story {
  margin-top: 12rem;
}
.wrapper_our_story .sec_ttls_story {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.wrapper_our_story .sec_info_story {
  max-width: 1024px;
  margin: 4rem auto 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper_our_story .sec_info_story .sec_item_story {
  text-align: center;
  padding: 0 3rem;
  position: relative;
}
.wrapper_our_story .sec_info_story .sec_item_story:first-child::before {
  content: "";
  width: 2px;
  height: 160px;
  background: #333333;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.wrapper_our_story .sec_info_story .sec_item_story img {
  height: 90px;
}

.wrapper_philosophy {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.wrapper_philosophy .sec_ttls_philosophy {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.wrapper_philosophy .sec_info_philosophy {
  max-width: 1150px;
  margin: 4rem auto;
}
.wrapper_philosophy .sec_info_philosophy .sec_item_philosophy h3 {
  font-weight: 700;
  font-size: 2rem;
}
.wrapper_philosophy .sec_info_philosophy .sec_item_philosophy .my_paragraph {
  background: #eef2f7;
  min-height: 200px;
  padding-top: 1rem;
  padding: 1.25rem;
  font-size: 1.15rem;
  border-left: 3px solid #333333;
}

.wrapper_certif {
  margin-top: 12rem;
}
.wrapper_certif .sec_ttls_certif {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.wrapper_certif .sec_info_certif {
  margin: 4rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper_certif .sec_info_certif.other {
  justify-content: center;
  margin-bottom: 6rem;
}
.wrapper_certif .sec_info_certif.other .item_certif:first-child::before {
  display: none;
}
.wrapper_certif .sec_info_certif.other .item_certif .my_paragraph {
  justify-content: center;
}
.wrapper_certif .sec_info_certif .item_certif {
  width: 100%;
  padding: 0 3rem;
  position: relative;
}
.wrapper_certif .sec_info_certif .item_certif:first-child::before {
  content: "";
  width: 2px;
  height: 180px;
  background: #333333;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}
.wrapper_certif .sec_info_certif .item_certif .my_paragraph {
  display: flex;
  align-items: center;
}
.wrapper_certif .sec_info_certif .item_certif .my_paragraph span {
  font-size: 1.2rem;
  font-weight: 600;
}
.wrapper_certif .sec_info_certif .item_certif .my_paragraph span:first-child {
  font-size: 1.75rem;
  margin-right: 0.5rem;
  color: var(--secundry_color);
}

.sec_benefits {
  margin: 0 auto;
  padding: 5rem 0;
  max-width: 1100px;
}
.sec_benefits .item_benefits {
  display: flex;
  margin-bottom: 2rem;
}
.sec_benefits .item_benefits span {
  font-size: 1.1rem;
}
.sec_benefits .item_benefits span:first-child {
  margin-right: 0.65rem;
  font-size: 2.25rem;
}

.sec_benefits_others {
  padding: 6rem 0;
  background: #2d3881;
  background: linear-gradient(180deg, #2d3881 0%, #0e1750 100%);
  color: #ffffff;
}
.sec_benefits_others .ttls_minimum span::after, .sec_benefits_others .ttls_minimum span::before {
  background: #ffffff;
}
.sec_benefits_others .item_benefits {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.sec_benefits_others .item_benefits span {
  font-size: 1.1rem;
}
.sec_benefits_others .item_benefits span:first-child {
  margin-right: 0.65rem;
  font-size: 2.25rem;
}

.wrapper_interest {
  padding: 0 1rem;
}
.wrapper_interest .sec_interest {
  max-width: 900px;
  margin: 1rem auto 5rem;
  background: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 0.75rem;
}
.wrapper_interest .sec_interest .sec_data_interest {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid #333;
}
.wrapper_interest .sec_interest .sec_data_interest .item_data {
  width: 100%;
}
.wrapper_interest .sec_interest .sec_data_interest .item_data a {
  color: #333;
}
.wrapper_interest .sec_interest .sec_data_interest .item_data a:hover {
  color: var(--secundry_color);
}

.wrapper_docu {
  margin-top: 8rem;
}
.wrapper_docu .sec_ttls {
  max-width: 800px;
  margin: 0 auto 3rem;
  text-align: center;
}
.wrapper_docu .box_steps {
  text-align: center;
  padding: 0 2rem;
}
.wrapper_docu .box_steps .num_steps {
  font-weight: 800;
  font-size: 6rem;
  line-height: 1;
}

.trans {
  transition: 0.5s cubic-bezier(0.2, 0.61, 0.41, 0.95);
}

.wrapper_links_docs {
  margin-top: 4rem;
}
.wrapper_links_docs .sec_links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.wrapper_links_docs .sec_links .box_item_links {
  width: 25%;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.wrapper_links_docs .sec_links .box_item_links .item_links {
  min-height: 275px;
  background: #ffffff;
  padding: 1.25rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.wrapper_links_docs .sec_links .box_item_links .item_links img {
  max-height: 75px;
}
.wrapper_links_docs .sec_links .box_item_links .item_links h4 {
  line-height: 1.1;
  min-height: 75px;
  margin-top: 1rem;
  font-size: 1.35rem;
}
.wrapper_links_docs .sec_links .box_item_links .item_links .btn_border {
  border: 2px solid #ddd;
  color: #333;
  text-shadow: none !important;
}
.wrapper_links_docs .sec_links .box_item_links .item_links:hover {
  background: #21bae0;
  background: linear-gradient(338deg, #21bae0 0%, #151e5f 80%);
  color: #ffffff;
}
.wrapper_links_docs .sec_links .box_item_links .item_links:hover img {
  filter: brightness(0) invert(1);
}
.wrapper_links_docs .sec_links .box_item_links .item_links:hover .btn_border {
  background: #ffffff;
}

.wrapper_contact {
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.wrapper_contact .ttl_primary {
  min-height: 120px;
}
.wrapper_contact .sec_info_contact .box_info {
  max-width: 500px;
  margin: 0 auto;
}
.wrapper_contact .sec_info_contact .box_info .box_item_data {
  font-size: 1.2rem;
  width: 100%;
}
.wrapper_contact .sec_info_contact .box_info .box_item_data .item_data {
  display: flex;
  align-items: center;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}
.wrapper_contact .sec_info_contact .box_info .box_item_data .item_data a {
  color: #333333;
}
.wrapper_contact .sec_info_contact .box_info .box_item_data .item_data a:hover {
  color: var(--secundry_color);
}
.wrapper_contact .sec_info_contact .box_info .box_item_data .item_data .ico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px solid #333333;
  margin-right: 0.75rem;
}
.wrapper_contact .sec_info_contact .box_info .box_maps {
  margin-top: 4rem;
}
.wrapper_contact .sec_info_contact .box_info .box_maps iframe {
  max-height: 250px;
  width: 100%;
  border-radius: 0.5rem;
}
.wrapper_contact .sec_info_form .box_form {
  background: #ffffff;
  margin: 0 auto;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 1rem;
}

.verications .sec_info_form .box_form {
  background: #ffffff;
  margin: 0 auto;
  max-width: 800px;
  padding: 1.5rem;
  border-radius: 1rem;
}
.verications .ttl_primary {
  min-height: 100%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 990px) {
  .wrapper_links_docs .sec_links .box_item_links {
    width: 33.3%;
  }
  .wrapper_links_docs .sec_links .box_item_links .item_links {
    padding: 1.25rem 0.35rem;
  }
}
@media screen and (max-width: 910px) {
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd {
    position: relative;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_brand {
    min-width: 100px;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_brand a img {
    max-height: 60px;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background: #ffffff;
    display: none;
    flex-direction: column;
    padding: 1rem 2rem;
    box-shadow: 0 10px 18px #00000026;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a:hover, .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a.sec_active {
    border: 0;
    background: var(--secundry_color);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus .maxw {
    max-width: 100%;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus.show_menu {
    display: flex !important;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_btns {
    width: 100%;
    text-align: right;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .btn_menu {
    display: inline-block;
    max-width: 30px;
    min-width: 30px;
  }
}
@media screen and (max-width: 860px) {
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus {
    padding-left: 0;
  }
  .wrapper_header .drawer_bottom_hd .sec_bottom_hd .cont_navs_menus a {
    margin-right: 0.2rem;
  }

  .wrapper_our_story {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .wrapper_data {
    margin-bottom: 45px;
  }
  .wrapper_data .drawer_data .box_item_data.address {
    display: none;
  }

  .wrapper_do_we_do .box_info_we_do {
    max-width: 100%;
    margin-top: 60px;
  }

  .wrapper_why .content_why {
    text-align: center;
    max-width: 990px;
    margin: 6rem auto 4rem;
  }
  .wrapper_why .articles_why .item_articles_why {
    width: 45%;
    min-height: 250px;
  }
  .wrapper_why .articles_why .item_articles_why:nth-child(3) {
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }

  .wrapper_experience .drawer_experience .container-lg .box_img_experience {
    margin-top: -125px;
  }

  .wrapper_footer .foot_top {
    padding: 1.5rem 0 0;
  }
  .wrapper_footer .foot_top .foot_brand,
.wrapper_footer .foot_top .foot_data {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .wrapper_head_page .container-lg .sec_head_page_img {
    display: none;
  }

  .wrapper_philosophy .sec_info_philosophy .sec_item_philosophy {
    margin-bottom: 2rem;
  }
  .wrapper_philosophy .sec_info_philosophy .sec_item_philosophy .my_paragraph {
    min-height: 100%;
  }

  .wrapper_certif {
    margin-top: 6rem;
  }

  .wrapper_certif .sec_info_certif {
    flex-direction: column;
    text-align: center;
  }
  .wrapper_certif .sec_info_certif .item_certif {
    padding: 0 0.5rem;
  }
  .wrapper_certif .sec_info_certif .item_certif:first-child::before {
    display: none;
  }
  .wrapper_certif .sec_info_certif .item_certif .my_paragraph {
    justify-content: flex-start;
  }

  .wrapper_interest .sec_interest {
    padding: 1.5rem;
    margin-top: 0;
  }
  .wrapper_interest .sec_interest .ttl_primary {
    margin-bottom: 1.5rem !important;
    font-size: 35px;
  }
  .wrapper_interest .sec_interest .sec_data_interest {
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
  }
  .wrapper_interest .sec_interest .sec_data_interest .item_data {
    margin-bottom: 1.5rem;
  }
  .wrapper_interest .sec_interest .sec_data_interest .item_data .ttls_minimum {
    margin-bottom: 0.5rem !important;
  }
  .wrapper_interest .sec_interest .sec_data_interest .item_data a {
    word-break: break-all;
  }

  .wrapper_contact .ttl_primary {
    min-height: 100%;
    margin-bottom: 2rem;
  }
  .wrapper_contact .row_contact .colfirst {
    order: -1;
  }
}
@media screen and (max-width: 690px) {
  .wrapper_home .drawer_home .sec_content_home .ttls_minimum {
    margin-bottom: 3rem;
  }

  .ttls_minimum {
    padding: 0 !important;
  }
  .ttls_minimum span {
    padding: 0 !important;
  }
  .ttls_minimum span::before, .ttls_minimum span::after {
    display: none;
  }

  .ttls_minimum.in_head {
    margin-left: 0;
    margin-bottom: 1rem !important;
  }

  .sec_head_page_info .ttl_home {
    font-size: 65px;
  }
  .sec_head_page_info .ttl_home.wbreak {
    word-break: break-all;
  }

  .wrapper_links_docs .sec_links .box_item_links {
    width: 50%;
  }
}
@media screen and (max-width: 620px) {
  .wrapper_our_story .sec_info_story {
    flex-direction: column;
  }
  .wrapper_our_story .sec_info_story .sec_item_story {
    padding: 0 0.75rem;
  }
  .wrapper_our_story .sec_info_story .sec_item_story:first-child {
    margin-bottom: 2rem;
  }
  .wrapper_our_story .sec_info_story .sec_item_story:first-child::before {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .wrapper_header .drawer_top_hd .sec_top_hd .cont_data .mail {
    display: none;
  }
  .wrapper_header .drawer_top_hd .sec_top_hd .cont_linkeos .nextcourse {
    display: none;
  }

  .wrapper_experience {
    padding-top: 75px;
  }
  .wrapper_experience .drawer_experience .container-lg .box_img_experience {
    margin-top: -125px;
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .wrapper_data .drawer_data .box_item_data.mail {
    display: none;
  }

  .wrapper_why .articles_why .item_articles_why {
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  }

  .wrapper_links_docs .sec_links .box_item_links {
    margin: 0 auto 1.5rem;
    width: 80%;
  }
  .wrapper_links_docs .sec_links .box_item_links .item_links {
    min-height: 100%;
  }
  .wrapper_links_docs .sec_links .box_item_links .item_links h4 {
    min-height: 100%;
  }
}
@media screen and (max-width: 420px) {
  .wrapper_header .drawer_top_hd .sec_top_hd .cont_linkeos .nextcourse {
    display: none;
  }

  .wrapper_home .drawer_home .sec_content_home .ttls_minimum {
    margin-bottom: 3rem;
  }
  .wrapper_home .drawer_home .sec_content_home .ttl_primary {
    font-weight: 600;
    font-size: 30px;
  }
  .wrapper_home .drawer_home .sec_content_home .ttl_home {
    font-size: 58px;
  }

  .ttl_primary {
    margin-bottom: 1.5rem !important;
    font-weight: 600;
    font-size: 31px;
  }

  .wrapper_why .content_why {
    margin: 3rem auto;
  }

  .my_paragraph {
    font-size: 18px;
  }

  .sec_head_page_info .ttl_home {
    font-size: 50px;
  }

  .wrapper_docu .box_steps {
    text-align: center;
    padding: 0 0.25rem;
  }
}
@media screen and (max-width: 380px) {
  .wrapper_links_docs .sec_links .box_item_links {
    width: 95%;
  }
}