<img class="imgs_dots" src="./imgs/side-dots.png" alt="dots" />

<div class="drawer_experience">
  <div class="container-lg">
    <div class="row">
      <div class="col-lg-6">
        <div class="box_img_experience">
          <img
            src="./imgs/experience.jpg"
            title="Nuestra experiencia"
            alt="Nuestra experiencia"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box_experience_info">
          <h6 class="ttl_primary mb-4">Nuestra experiencia</h6>
          <p class="my_paragraph mb-5">
            World Register S.A. de C.V. se constituyó legalmente en marzo del
            2009 con el objetivo de brindar servicios de auditoria y
            certificación en estándares internacionales de la calidad, seguridad
            y medio ambiente en organizaciones del sector público y privado.
          </p>
          <div class="box_dots_experience">
            <!-- <h4 class="mb-4">
              <span><ion-icon name="chevron-forward-circle"></ion-icon></span>
              <span> Maquinaria y Equipo</span>
            </h4>
            <h4 class="mb-4">
              <span><ion-icon name="chevron-forward-circle"></ion-icon></span>
              <span>Servicios de Ingeniería</span>
            </h4>
            <h4 class="mb-4">
              <span><ion-icon name="chevron-forward-circle"></ion-icon></span>
              <span>Educación</span>
            </h4> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
