<div class="foot_top">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-md-4 foot_brand">
        <img
          src="./imgs/logo-wrregister.png"
          title="World Register"
          alt="World Register"
        />
      </div>
      <div class="col-md-4 text-center">
        <a href="#"
          >Paseo de la Ceiba esq. La Pigua Num.102, Int. 202, Col. 1ro de
          Mayo, CP 86190. Villahermosa, Tabasco, México.</a
        >
      </div>
      <div class="col-md-4 foot_data">
        <a href="#">atencionaclientes@wrregister.com </a> <br />
        <a href=""> (993) 3524257</a>
      </div>
    </div>
  </div>
</div>
<div class="foot_low">
  Copyright 2009 - 2021 - WORLD REGISTER S.A de C.V
</div>
