 <div class="drawer_top_hd">
  <div class="sec_top_hd container-lg">
    <div class="cont_data">
      <a href="#">
        <span class="pe-1"><ion-icon name="call"></ion-icon></span>
        <span>(993) 352 4257</span>
      </a>
      <a href="#">
        <span class="pe-1"
          ><ion-icon name="mail-outline"></ion-icon
        ></span>
        <span>atencionaclientes@wrregister.com</span>
      </a>
    </div>
    <div class="cont_linkeos">
      <a href="#">Próximos cursos</a>
      <a href="#">Web mail</a>
    </div>
  </div>
</div>
<div class="drawer_bottom_hd">
  <div class="sec_bottom_hd container-lg">
    <div class="cont_brand">
      <a href="/">
        <img
          src="./imgs/logo-wrregister.png"
          alt="Logo World Register Certification"
          title="World Register Certification"
        />
      </a>
    </div>
    <nav class="cont_navs_menus">
      <a class="sec_active" href="/">INICIO</a>
      <a class="" href="nosotros.html">NOSOTROS</a>
      <a class="" href="servicios.html">SERVICIOS</a>
      <a class="" href="documentacion.html">DOCUMENTACIÓN</a>
      <a class="" href="contacto.html">CONTACTO</a>
    </nav>
    <div class="cont_btns">
      <a href="#" class="btn btn_secundary">COTIZAR AHORA</a>
    </div>
  </div>
</div>