<div class="sec_interest box_shaddow">
  <h3 class="ttl_primary mb-5 text-center">
    ¿Te interesan algunos de nuestros servicios?
  </h3>
  <div class="sec_data_interest">
    <div class="item_data">
      <h6 class="ttls_minimum mb-4">L l á m a n o s</h6>
      <h3><a href="">(993) 3524257 </a>    </h3>
    </div>
    <div class="item_data">
      <h6 class="ttls_minimum mb-4">E S C R Í B E N O S</h6>
      <h3><a href="">atencionaclientes@wrregister.com</a></h3>
    </div>
  </div>
  <div class="text-center">
    <a href="#" class="btn btn_primary">CONOCE NUESTROS SERVICIOS</a>
  </div>
</div>